.register {
  min-height: 80vh;
  /* margin: 0 0 60px 0; */
  display: flex;
  align-items: center;
}

.register .container-xl {
  /* background: -webkit-linear-gradient(left, #797878, #797878); */

  border-radius: 30px;
  /* background: -webkit-linear-gradient(left, #0b192c, #00c6ff); */
  background-image: url("../Images/bg4-1.jpg");
  background-position: center;
  background-size: cover;
}
.register-left {
  text-align: center;
  color: #fff;
  /* background: url("../Images/bg4-1.jpg"); */
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  place-items: center;
}
.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: var(--secondary);
  font-weight: bold;
  color: #fff;
  margin-top: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.register-left h3,
.register-left p {
  color: var(--muted);
}

.register-right {
  /* background: #f8f9fa; */
  border-radius: 30px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
}

.login .register-right {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10% 50% !important;
  border-bottom-right-radius: 10% 50% !important;
}

/* ======================= */

.register-right {
  padding: 60px 100px 20px 100px;
}

.register-right .item {
  margin-bottom: 20px;
}

.register-right .item input {
  border-radius: 50px;
  padding: 10px 10px 10px 20px;
}

.register-right .item input:focus {
  box-shadow: none !important;
  border-color: var(--primary);
}

.register-right .item span.error,
.register-right .item span.success {
  color: var(--destructive);
  margin: 10px 0 10px 10px;
  display: block;
}
.register-right .item span svg {
  margin-right: 5px;
}

.iconEye {
  top: 15px;
  right: 10px;
  position: absolute;
  color: var(--muted);
}

.register button {
  background-color: var(--primary);
  padding: 6px 12px;
  width: 150px;
  border: none;
  color: #fff;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.register p.already a {
  color: var(--muted);
  transition: all 0.3s;
}

.register p.already a:hover {
  color: var(--primary);
  letter-spacing: 1px;
  transition: all 0.3s;
}

.register .item-group .item {
  width: 48%;
}

@media (max-width: 767px) {
  .register .item-group {
    flex-direction: column;
  }
  .register .item-group .item {
    width: 100%;
  }
  .register-left {
    display: none;
  }
  .register-right {
    padding: 30px;
  }
  .register .container-xl {
    margin: 20px 0;
  }
}
