/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

  :root {
    --background: #fff;
    --foreground: #f0eeed;
    --muted: #f1f5f9;
    --muted-foreground: #22222291;

    --border: #cccccc69;
    --input: #cccccc69;

    --card: #fff;
    --card-foreground: #f0eeed;

    --primary: #000;
    --primary-foreground: #f8fafc;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: #0f172a;

    --accent: #fff;
    --accent-foreground: #000;

    --destructive: #ff0000;
    --destructive-foreground: #f8fafc;

     --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%; 
     --ring: 215 20.2% 65.1%; 
    background: #FF33331A;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary;
    font-family: "Inter", sans-serif;
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* bg-section */

  --background: #fff;

  --foreground: #f0eeed;

  /* border */
  --border: #cccccc69;

  /* card */
  --card-foreground: #f0eeed;

  /* --primary: #d10024; */
  --primary: #0088ff;
  --secondary: #022554;

  /* text */

  --text-light: #fff;
  --text-dark: #333;
  --text-muted-light: #ffffffb3;

  /* text-muted */
  --muted: #212529bf;
  --muted-foreground: #22222291;

  /* Icon same (delete) */
  --destructive: #ff0000;

  /* footer */
  --footer-background: #f0f0f0;
  --links-color: #f0f0f0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.p-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  overflow: hidden;
  margin-bottom: 30px;
}

.section-title::before {
  content: "";
  position: absolute;
  right: 0;
  height: 1px;
  width: 80%;
  margin-right: auto;
  background-color: #eaeaea;
  transform: translateX(-60px);
}

.section-title a {
  z-index: 1;
  background-color: var(--background);
  border: 1px solid #eaeaea;
  border-radius: 30px;
  width: 150px;
  color: var(--muted);
  transition: all 0.3s ease;
}

.section-title a:hover {
  background-color: var(--primary);
  color: var(--text-light);
}

.section-title h2 {
  padding: 0 10px;
  z-index: 1;
  background-color: var(--background);
}

.brand img {
  border-radius: 50%;
  padding: 10px;
}
